body {
  background: url(./images/gahzi-ali-cXRwDTWbFu0-unsplash.jpg);
  background-size: cover;
  font-family: sans-serif;
}
h1 {
  text-shadow: 0 0 0.5rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff,
    0 0 2.5rem #544333, 0 0 4rem #544333, 0 0 5.5rem #544333, 0 0 6rem #544333,
    0 0 9.5rem #544333;
  text-align: center;
  font-size: 58px;
  font-family: "Oswald", sans-serif;
  color: #b5c09f;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}
.container {
  background: #aca2a1;
  background: rgba(255, 255, 255, 0.2);
  max-width: 600px;
  margin: 60px auto;
  font-family: "Oswald", sans-serif;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}
.city {
  text-shadow: 0 0 0.5rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff,
    0 0 2.5rem #b5c5d3, 0 0 4rem #b5c5d3, 0 0 5.5rem #b5c5d3, 0 0 6rem #b5c5d3,
    0 0 9.5rem #b5c5d3;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  color: #5a6877;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  text-shadow: 0 0 0.5rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff,
    0 0 2.5rem #b5c5d3, 0 0 4rem #b5c5d3, 0 0 5.5rem #b5c5d3, 0 0 6rem #b5c5d3,
    0 0 9.5rem #b5c5d3;
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
.back {
  display: block;
}
#back-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #544333;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
footer {
  text-align: center;
  font-size: 16px;
  color: #544333;
  padding: 1px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  margin-bottom: 0;
}
footer a {
  color: #b49858;
}
